@import 'normalize';

$font-stack: "Fira Code","Inconsolata",sans-serif;
$font-size: 18px;
$primary-color: #333;

$nav-link-color-100: rgba(74, 74, 74, 1);
$nav-link-color-700: rgba(74, 74, 74, 0.7);
$nav-item-color-100: rgb(94, 200, 77, 1);

// Breakpoints | 16px
// $breakpoint-xlarge: 90em;
$breakpoint-xlarge: 75rem;
$breakpoint-large: 64rem;
$breakpoint-medium: 48rem;
$breakpoint-small: 35rem;
$breakpoint-xsmall: 25rem;

html {
  font-size: $font-size;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin-left: .5rem;
  margin-right: .5rem;
}

nav {
  & a {
    color: $nav-link-color-100;
    text-decoration: none;

    &:hover {
      color: $nav-link-color-700;
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }

  & li {
    display: inline;
  }
}

article {
  & ul {
    list-style: none;
    padding-left: 1rem;
  }
}

figure {
  margin: 0 auto;
}

img {
  width: 100%;
}

footer {
  & p {
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: bold;
  }
}

h2 {
  font-size: clamp(.7rem, 1.1rem, 1.2rem);
}

@media screen and (min-width: $breakpoint-small) {
  div#content {
    display: flex;
  }

  nav {
    & ul {
      background-color: $nav-item-color-100;
      flex-direction: row;
    }
    & li {
      background-color: $nav-item-color-100;
    }

    & li + li {
      margin-left: 1rem;
    }
  }

  aside {
    width: 25%;

    & img {
      width: 100%;
    }
  }

  main {
    width: 75%;
    margin-left: 1rem;
  }

  img {
    width: 50%;
  }
}

@media screen and (min-width: $breakpoint-xlarge){
}
