$font-stack: Helvetica, sans-serif;
$font-size: 18px;
$primary-color: #333;

html {
  font-size: $font-size;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

nav {
  & ul {
    list-style: none;
  }

  & li {
    display: inline;
  }

  & li + li {
    margin-left: 1rem;
  }
}

footer {
  & p {
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: bold;
  }
}
