@import 'normalize';

$font-stack: "Fira Code","Inconsolata",sans-serif;
$font-size: 18px;
$primary-color: #333;

$nav-link-color-100: rgba(74, 74, 74, 1);
$nav-link-color-700: rgba(74, 74, 74, 0.7);
$nav-item-color-100: rgb(94, 200, 77, 1);

// Breakpoints
$breakpoint-xlarge: 90em;
$breakpoint-large: 64em;
$breakpoint-medium: 48em;
$breakpoint-small: 35em;
$breakpoint-xsmall: 25em;

html {
  font-size: $font-size;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

nav {
  & a {
    color: $nav-link-color-100;
    text-decoration: none;

    &:hover {
      color: $nav-link-color-700;
    }
  }

  & ul {
    list-style: none;
  }

  & li {
    display: inline;
  }

  & li + li {
    margin-left: 1rem;
  }
}

footer {
  & p {
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: bold;
  }
}

@media screen and (max-width: $breakpoint-small) {
  nav {
    & ul {
      background-color: $nav-item-color-100;
    }
    & li {
      background-color: $nav-item-color-100;
    }
  }
}
