@charset "utf-8";
/* font-family: -apple-system, 'Fira Code','Inconsolata', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; */
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Fira+Code|Inconsolata&display=swap');

// Set your brand colors
$green: #158a02;
$greenish: #5ec84d;
$purple: #8A4D76;
$pink: #ab2c41;
$brown: #757763;
$blue: #3c5ce7;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$gray: whitesmoke;
// Navbar
$navbar-background-color: $greenish;


$is-success: $greenish;
$is-link: $greenish;
$link: #8c8c8c !default;
// $link: $blue !default
// Update Bulma's global variables
$family-sans-serif: 'Fira Code','Inconsolata', sans-serif;

// Update some of Bulma's component variables
// $body-background-color: $beige-light;
$box-background-color: $gray;
// message
$message-header-background-color: $greenish;

// swiper
.swiper-container {
  height: 20%;
}
@media screen and (max-width: 768px) {
  .swiper-container {
    width: 90%; } }

// Footer
$footer-background-color: $gray;
// Import only what you need from Bulma
// @import "./node_modules/bulma/sass/utilities/_all.sass";
// @import "./node_modules/bulma/sass/base/_all.sass";
// @import "./node_modules/bulma/sass/elements/button.sass";
// @import "./node_modules/bulma/sass/elements/container.sass";
// @import "./node_modules/bulma/sass/elements/title.sass";
// @import "./node_modules/bulma/sass/form/_all.sass";
// @import "./node_modules/bulma/sass/components/navbar.sass";
// @import "./node_modules/bulma/sass/layout/hero.sass";
// @import "./node_modules/bulma/sass/layout/section.sass";
// @import "./node_modules/bulma/sass/layout/footer.sass";

// import all bulma
@import "./node_modules/bulma/bulma.sass";
